My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "f5585c26-2482-4cf4-8f01-8005d3007a77",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        64,
        -720
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are a research assistant with access to real-time search results provided by SerpAPI. You must always base your answers exclusively on the information retrieved from SerpAPI—never speculate or guess.\n\nFor every user query, you will receive structured results including titles, snippets, prices, images, and links.\n\nYour job is to:\n- Carefully analyze the SerpAPI results\n- Identify the most relevant and helpful information\n- Summarize or compare the top 2–3 options clearly and concisely\n- Include: product name, short description, price (if available), link, and image URL (if available)\n\nFormat the response in a user-friendly, readable style—using bullets or emojis to improve clarity. Always include direct links and image URLs if they are provided in the search data.\n\nIf no useful results are found, say so transparently.\n\nDo not generate information outside of what SerpAPI returns. Your role is to process, summarize, and organize real web search data—nothing more.\n"
        }
      },
      "id": "a72ff787-146a-4a35-ad17-4516e716db4c",
      "name": "Research AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        288,
        -960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "478c8fff-ea60-420b-94ed-7d844457bd84",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        496,
        -720
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "cSASprAVLYdFhMI6",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4a90629a-673e-4c16-858b-41c32e77c8c3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -416,
        -1136
      ],
      "webhookId": "3e00a8f3-50f1-4b71-9af3-f06813efd5e5",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "WZoySdBXcaAPYTTI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "055e81e3-7f4c-4304-afff-1ce1474aca47",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        736,
        -1056
      ],
      "webhookId": "c933873b-ee2d-48ad-a3d9-24f238083a64",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "WZoySdBXcaAPYTTI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Research Assistant via Telegram (GPT-4o mini + Gemini 2.5 Flash + SerpAPI)\n\n\n\n## 👥 Who’s it for\n\nThis workflow is perfect for anyone who wants to receive AI-powered research summaries directly on Telegram. Ideal for people asking frequent product, tech, or decision-making questions and want up-to-date answers sourced from the web.\n\n## 🤖 What it does\n\nUsers send a question via Telegram. An AI agent (Gemini 2.5 Flash) reformulates and understands the intent, while a second agent (GPT-4o mini) performs live research using SerpAPI. The most relevant answers, including links and images, are delivered back via Telegram.\n\n \n## ⚙️ How it works\n\n📲 Telegram Trigger – Starts when a user sends a message to your Telegram bot.\n🧠 Gemini 2.5 Flash Agent – Understands, clarifies, or reformulates the user query.\n🧠 Research AI Agent (GPT-4o mini + SerpAPI) – Searches the web and summarizes the best results.\n📤 Send Telegram Message – Sends the response back to the same user.\n\n## 📋 Requirements\n\n- Telegram bot (via BotFather) with API token set in n8n credentials\n\n- OpenAI account with API key and balance for GPT-4o mini\n\n- SerpAPI account (100 free searches/month) with API key\n\n- Gemini account with API key and balance\n\n## 🛠️ How to set up\n\nCreate your Telegram bot using BotFather and connect it using the Telegram Trigger node\nSet up Gemini credentials and add a Chat Model AI Agent node using Gemini 2.5 Flash to reformulate the user’s question\nSet up OpenAI credentials and add a second ChatGPT AI Agent node using GPT-4o mini\nIn the GPT-4o node, enable the SerpAPI Tool and add your SerpAPI API key\nPass the reformulated question from Gemini to the GPT-4o agent for live search and summarization\nFormat the response (text, links, optional images)\nSend the final reply to the user using the Telegram Send Message node\nEnsure your n8n instance is publicly accessible\nTest the workflow by sending a message to your Telegram bot ✅",
        "height": 1240,
        "width": 540
      },
      "id": "34da7658-89a7-4bce-a120-87d8f027f6e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -1664
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 📲 Telegram Trigger Node\n\nThis node starts the workflow when a user sends a message to your Telegram bot.\n\nTo set it up:\n\nCreate a bot via @BotFather\n\nCopy the bot token and add it to your Telegram credentials in n8n\nIt extracts the message text and chat ID, which are used in later nodes to process and respond to the user.\n\n\n[Read more about Telegram Trigger node Editing](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.telegramTrigger)",
        "height": 1240,
        "width": 360,
        "color": 7
      },
      "id": "d0ac681c-e667-467d-ae8e-04866bfb0779",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📲 🧠Gemini 2.5 Flash Agent (with Simple Memory)\n\nThis AI Agent receives the user’s original question and reformulates it if necessary to make it clearer or more focused.\n\nIt also uses a Simple Memory node to maintain short-term context for ongoing conversations.\n\n🔧 Setup:\n\nSign up at https://aistudio.google.com/app/apikey\n\nCreate an API key and add it to n8n\n\nLoad credits to enable requests (DeepSeek is paid)\n\nThis step ensures that the question passed to the research agent is precise and well-structured.\n\n[Read more about the AI Agent node Editing](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=%40n8n%2Fn8n-nodes-langchain.agent)\n",
        "height": 1240,
        "width": 360,
        "color": 7
      },
      "id": "42ddea2a-46b9-4556-ac33-2cc74ace349a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 Research AI Agent (OpenAI GPT-4o mini + SerpAPI)\n\nThis agent performs the core task: researching the question using real-time web results from SerpAPI.\nIt summarizes the most relevant results with titles, short descriptions, prices (if available), and direct links.\nIt uses GPT-4o mini from OpenAI to structure the response.\n\n🔧 Setup:\n\nCreate an account at https://platform.openai.com\n\nGenerate your OpenAI API key and add balance\n\nUse gpt-4o or gpt-4o-mini as the model\n\nSign up at https://serpapi.com and get your API key (100 free searches/month)\n\nThis node only uses data from SerpAPI — no extra AI knowledge or speculation is allowed.\n\n[Read more about the AI Agent node Editing](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=%40n8n%2Fn8n-nodes-langchain.agent)\n",
        "height": 1240,
        "width": 360,
        "color": 7
      },
      "id": "a2a737a3-e583-40eb-a7d5-9e8e09c29420",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📲 ✉️ Send Telegram Message\n\nThis node sends the final response back to the user on Telegram.\nIt uses the same bot credentials as the trigger and pulls the chat_id from the original message.\nThe content of the message comes from the Research AI Agent output and includes helpful summaries with links.\n\n🔧 Setup:\n\nResource: Message\n\nOperation: Send Message\n\nChat ID: {{$json[\"message\"][\"chat\"][\"id\"]}}\n\nText: Output from the Research AI Agent\n\n[Read more about Telegram Send Message node Editing](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/message-operations/#send-message)",
        "height": 1240,
        "width": 360,
        "color": 7
      },
      "id": "9bf952a3-a9cf-4cb4-925c-619e9bae8009",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "45c8763f-2640-4ab3-8aed-4dd849155e3e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        272,
        -720
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "DpFnmorGDYaVGYle",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        -736
      ],
      "id": "a95fe228-c76e-4a34-9bd0-9197cbd10a62",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ns0N2dkYkuO6Pcna",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} ",
        "options": {
          "systemMessage": "=You are an intelligent assistant specialized in understanding user queries and structuring them for deeper investigation. You act as a first-layer analyst, helping clarify, reformulate, or expand the user's original question when needed.\n\nYou have access to short-term memory and can recall recent context to ensure continuity in multi-turn conversations. Your goal is to understand what the user really needs, extract relevant context, and prepare a refined, focused query for a research agent.\n\nYou do not perform live research yourself. Instead, you pass refined questions forward.\nRespond clearly, naturally, and like a helpful human—not robotic or overly formal.\n"
        }
      },
      "id": "e31af2ae-f3d9-49a7-a8cd-4d7293d60e4d",
      "name": "Gemini 2.5 Flash AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -96,
        -960
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gemini 2.5 Flash AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Gemini 2.5 Flash AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini 2.5 Flash AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash AI Agent": {
      "main": [
        [
          {
            "node": "Research AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be97512d-7813-45fe-92b1-964afdb9324f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f948bb56f7ca6e31b1a8cea7e3e8acfaaca1160c323477fe7f8a57274e5363a"
  },
  "id": "YmnL3AByyDVGrjdW",
  "tags": []
}